@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device breakpoints 
    pequenas telas: (max-width: 600px)
    celular: (min-width: 600px)
    tablet: (min-width: 768px)
    desktop: (min-width: 992px)
    grandes telas: (min-width: 1200px)
*/

@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../imagens/back-print.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}

    main {
        border: 2px solid black;
    }

    main, h1 {
        width: 90vw;
        text-shadow: none;
        color: black;
    }
    main::after {
        content: "Essa impressão foi feita por mim";
        color: black;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
     body {
        background-image: url(../imagens/back-tablet.jpg);
     }
     img#phone {display: none;}
     img#tablet {display: block;}
     img#print {display: none;}
     img#pc {display: none;}
     img#tv {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
}


@media screen and (min-width: 1200px) {
     body {
        background-image: url(../imagens/back-tv.jpg);
     }
     img#phone {display: none;}
     img#tablet {display: none;}
     img#print {display: none;}
     img#pc {display: none;}
     img#tv {display: block;}
}